<div class="page-title">
  <h3 class="title">
    Processo de Óbito
  </h3>
</div>
<div class="row">
  <!-- Input States -->
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Consulta de Documentos</h3>
      </div>
      <div class="panel-body">

        <button routerLink="/incluir-documento" class="btn btn-success">Incluir</button>

        <div class="col-sm-offset-2 col-sm-9">
          <form class="form-horizontal" role="form">

              <div class="form-group">
                <label class="col-sm-2 control-label">Nº Protocolo:</label>
                  <div class="col-md-10">
                    <input type="protocolo" id="protocolo" name="protocolo" class="form-control" placeholder="Protocolo">
                  </div>
              </div>

              <div class="form-group">
                  <label class="col-sm-2 control-label">CPF:</label>
                  <div class="col-md-10">
                    <!--input type="cpf" id="cpf" name="cpf" class="form-control" ui-mask="999.999.999-99" placeholder="CPF"-->
                  <input ng-model="data.cpf" type="cpf" class="form-control" ui-mask="999.999.999-99" placeholder="CNPJ" required ng-minlength="6" ng-maxlength="12" ng-pattern="/^[0-9]{1,7}[-\.\/]?+$/">
                  
                  </div>
                </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Nome:</label>
                <div class="col-md-10">
                  <input type="nome" id="nome" name="nome" class="form-control" placeholder="Nome">
                </div>
            </div>
            
              <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-md-10">
                  <button type="submit" (click)= 'onCellClick()' class="btn btn-info">Consultar</button>
                </div>
              </div>

         </form>

        </div>
      </div>
      <!-- panel-body -->
    </div>
    <!-- panel -->
  </div>
  <!-- col -->
</div>


<div *ngIf="!statement; else elseTemplate">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body table-rep-plugin">
          <div class="table-wrapper">
            <div class="table-responsive">
              
              <ng-table [config]="config"
                  (tableChanged)="onChangeTable(config)"
                  (cellClicked)="onCellClick($event)"
                  [rows]="rows" [columns]="columns">
              </ng-table>
              
            </div>

            <div class="row">
              <div class="col-sm-6">
                <pagination *ngIf="config.paging"
                          class="pagination-sm"
                          [(ngModel)]="page"
                          [totalItems]="length"
                          [itemsPerPage]="itemsPerPage"
                          [maxSize]="maxSize"
                          [rotate]="false"
                          [directionLinks]="false"
                          [boundaryLinks]="false"
                          (pageChanged)="onChangeTable(config, $event)"
                          (numPages)="numPages = $event">
                </pagination>
              </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #elseTemplate>

  <div align="center">
    <label>Não foi encontrado registros para os parametros informados</label>
  </div>

</ng-template>