
<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">
 
    <title>Sandro Brasilcap</title>
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
 
    <!--link href="justified-nav.css" rel="stylesheet"-->
 
</head>
 
<body>
 
    <div class="container"> 
        <div class="jumbotron" style="padding-bottom:0px;">
         <h2>{{title}}</h2>
            
        </div>
        
        <form class="form-signin" role="form">
           <img src="../img/logobrasilcap.png"  height="85" width="280"/>
            <br/>
            <input type="email" class="form-control" placeholder="Email" required="" autofocus="">
            <input type="password" class="form-control" placeholder="Senha" required="">
            <label class="checkbox">
               <a href="#"> Novo Cadastro </a>
               <a href="#"> Esqueci a senha</a>
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Logar</button>
      </form>
  
    </div>
</body>

</html>