<!DOCTYPE html>
<html >
<head>
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">

</head>
<body>
      <div>

    <div class="titulo" style="width: 99.9%;" >
      Horários dispinveis para {{resultadoDetalhe[0].DIA}}
    </div>

      <table>
        <tr class="borderright" style="border-right: 1px solid #c8c8c8; ">
            <td>Hora / Procedimento / Profissional</td>
        </tr>

        <tr class="normalLine " *ngFor="let resultado of resultadoDetalhe">
          <div class="detalhar">
            <button _ngcontent-c4="" class="agendar" routerLink="/agendar">{{resultado.HORA}} - {{resultado.PROCEDIMENTO}}  -  {{resultado.PROFISSIONAL}}</button>
          </div>
        </tr>
      </table>
      </div>
</body>
</html>