<div class="row linha">
  <div class="col-xs-12">
    <h3>{{ plataforma.nome }}</h3>
  </div>
  <div class="row" *ngFor="let modulo of plataforma.modulos; let i = index">
    <div class="col-md-12">
        <h4>{{ modulo.nome }}</h4>
    </div>
    <div class="col-md-12">
        
        <span class="col-md-4 col-sm-4" *ngFor="let funcionalidade of modulo.funcionalidades; let j = index">
          <label class="cr-styled">
                <input type="checkbox" (click)="atualizarPermissao(plataforma, modulo, funcionalidade, $event)" [checked]="verificaSeTemPermissao(plataforma, modulo, funcionalidade)">
                <i class="fa"></i> 
            </label>
          {{ funcionalidade.nome }}
        </span>
        
    </div>
  </div>
</div>