<html>

    <body>
        
        <div class="titulo">
            <div class="container container-lg">
                    <div class="col-md-9  mensagem-principal">Meus Agendamentos</div>
            </div>
        </div>

        <div class="layout-container">
            <div class="container container-lg">
                <div class="row">


                    <div class="col-sm-2 col-xs-12">
                        <div class="card btn-raised">
                            <div class="card-heading dashboard-card info-agendamento">
                                <div *ngIf="resultadoResumo[0].PROXIMO; else semAgendamento">
  
                                    <div title="" class="card-title">PROXIMO <BR>AGENDAMENTO:</div>
                                    <p class="dashboard-card-body">{{resultadoResumo[0].PROXIMO}}</p>
                                    <p class="dashboard-card-body">{{resultadoResumo[0].HORA}}</p>
                                </div>

                                <ng-template #semAgendamento>
                                    <div title="" class="card-title">NÃO HÁ NOVOS<BR>AGENDAMENTOS</div>
                                </ng-template>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-2 col-xs-12">
                        <div *ngIf="resultadoResumo[0].QTD_AGENDAMENTOS">
                            <div class="card btn-raised"  routerLink="/detalhar-meus-agendamentos" >
                                <div class="card-heading dashboard-card info-card creditos">
                                    <div title="" class="card-title">HORARIOS <BR>AGENDADOS</div>
                                </div>
                                <div class="card-body pt0">
                                    <p class="dashboard-card-body">{{resultadoResumo[0].QTD_AGENDAMENTOS}}</p>
                                </div>
                            </div>
                        </div>
                    </div>


                  <div class="col-sm-2 col-xs-12">
                      <div *ngIf="resultadoResumo[0].QTD_ESPERA">
                            <div class="card btn-raised"  routerLink="/detalhar-fila-espela" >
                                <div class="card-heading dashboard-card info-card creditos">
                                    <div title="" class="card-title">FILA DE<BR>ESPERA</div>
                                </div>
                                <div class="card-body pt0">
                                    <p class="dashboard-card-body">{{resultadoResumo[0].QTD_ESPERA}}</p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-2 col-xs-12">
                        <div *ngIf="resultadoResumo[0].QTD_HORARIOS_DISPONIVEIS; else agendamentoEsgotado">
                            <div class="card btn-raised" routerLink="/detalhar-regras">
                                <div class="card-heading dashboard-card info-card creditos">
                                    <div title="" class="card-title">QUANT.<BR>DISP. MÊS</div>
                                </div>
                                <div class="card-body pt0">
                                    <p class="dashboard-card-body">{{resultadoResumo[0].QTD_HORARIOS_DISPONIVEIS}}</p>
                                </div>
                            </div>
                        </div>
                        <ng-template #agendamentoEsgotado>
                            <div class="card btn-raised" routerLink="/detalhar-regras">
                                <div class="card-heading dashboard-card info-card creditos-fail">
                                    <div title="" class="card-title">TODOS OS AGENDAMENTOS<BR>FORAM UTILIZADOS</div>
                                </div>
                                <div class="card-body pt0">
                                    <p class="dashboard-card-body">0</p>
                                </div>
                            </div>
                        </ng-template>
                    </div>


                </div>
            </div>
        </div>
    </body>
</html>

