<html>
    <body>
        
        <div class="letreiro-container">
            <div class="container container-lg">
                <div class="row">
                    <div class="col-md-9  mensagem-principal">Agendamentos</div>
                    <div class="col-md-3  principal-data">AgendA</div>
                </div>
            </div>
        </div>

        <div class="layout-container">
            <div class="container container-lg">
                <div class="row">
                    <div class="col-sm-2 col-xs-12">
                        <div class="card btn-raised"  routerLink="/agendar" >
                            <div class="card-heading dashboard-card info-card">
                                <div title="" class="card-title">PROXIMO <BR>AGENDAMENTO</div>
                            </div>
                            <div class="card-body pt0">
                                <tr *ngFor="let resumo of resultadoResumo">
                                <p class="dashboard-card-body info-card-body ng-binding">{{resumo.HOJE}}</p>
                                <p class="dashboard-card-body ng-binding">10:20</p>
                                </tr>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2 col-xs-12">
                        <div class="card btn-raised"  ng-click="exibeAbertos()">
                            <div class="card-heading dashboard-card info-card sistemas">
                                <div title="" class="card-title">HORARIOS <BR>AGENDADOS</div>
                            </div>
                            <div class="card-body pt0">
                                <tr *ngFor="let resumo of resultadoResumo">
                                <p class="dashboard-card-body info-card-body ng-binding">{{resumo.QTD_AGENDAMENTOS}}</p>
                                </tr>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2 col-xs-12">
                        <div class="card btn-raised"  ng-click="exibeAbertos()">
                            <div class="card-heading dashboard-card info-card sistemas">
                                <div title="" class="card-title">FILA DE<BR>ESPERA</div>
                            </div>
                            <div class="card-body pt0">
                                <tr *ngFor="let resumo of resultadoResumo">
                                <p class="dashboard-card-body info-card-body ng-binding">{{resumo.QTD_ESPERA}}</p>
                                </tr>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2 col-xs-12">
                        <div class="card btn-raised">
                            <div class="card-heading dashboard-card info-card sistemas">
                                <div title="" class="card-title">QUANT.<BR>DISP. MÊS</div>
                            </div>
                            <div class="card-body pt0">
                                <tr *ngFor="let resumo of resultadoResumo">
                                <p class="dashboard-card-body info-card-body ng-binding">{{resumo.QTD_AGENDAMENTO_RESTANTE}}</p>
                                </tr>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </body>
</html>

