@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

table {
  width: 99.9%;
  text-align: center;
}

.titulo {
  color: #005aa1;
  text-align:center;
  background: #f4f4f8;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  font-size: 25px;
  font-weight: bold;
  margin-top: 2em;
}

button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 14px;
  cursor: pointer; cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc; 
  cursor: auto;
}

button.agendar[_ngcontent-c4] {
    float: center;
    margin-top: 2px;
    margin-right: .8em;
    background-color: gray !important;
    color: white;
}
button.cancelar[_ngcontent-c4] {
    float: center;
    margin-top: 2px;
    margin-right: .8em;
    background-color: #8B0000 !important;
    color: white;
}
.detalhar
{
  padding: 5px;
  
  }